.container
	.heading
		My Ledger
	.total-entries
		Total Entries: 10
	.content
		%table
			%thead
				%tr
					%td Amount
					%td Description
					%td Datetime
			%tbody
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC
				%tr
					%td US$- 23.24 
					%td Test Description 10
					%td 2022-01-30 05:29:55 UTC