.container
	.heading
		My Ledger
	.total-entries
		Total Entries: 10
	.content
		%table.table.table-striped
			%thead
				%tr
					%td.col-3 Amount
					%td.col-5 Description
					%td.col-4 Datetime
			%tbody
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				%tr
					%td.col-3 US$- 23.24 
					%td.col-5 Test Description 10
					%td.col-4 2022-01-30 05:29:55 UTC
				